body{
    display:flex;
    flex-direction:column;
    font-family: Arial, Helvetica, sans-serif;
}

.recuadreProducte{
    border: none;
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    background-color: #f0f0f0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.recuadreProducte:hover{
    background-color: #dfdfdf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.preuProducte{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background-color: #ffee00;
    border-radius: 30px;
    width: 100px;
    margin: 0 auto;
}
.recuadreProducte:hover .preuProducte{
    background-color: #ffdd00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.imgProducte{
    height: 300px;
    border-radius: 30px
}

header{
    border: solid 1px #000000;
}